
{namespace com.baidu.bkm.wiki.macro.markdown}

/**
 * How-to-use page for the wizard.
 */
{template .howToUse autoescape="false"}

<h2>{getText('com.baidu.bkm.wiki.macro.markdown.blueprint.intro.heading')}</h2>
<p>{getText('com.baidu.bkm.wiki.macro.markdown.blueprint.intro.contentHtml')}</p>


{/template}
